<div id="about-us" class="about-us">
  <img src="assets/img/about-us.svg" />
  <button (click)="CloaseAboutUs()">
    <svg
      appHoverButton
      height="512px"
      viewBox="0 0 512 512"
      width="512px"
    >
      <path
        d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"
      ></path>
    </svg>
  </button>
  <div class="txt">
    <p>
      گویا مپ نقشه‌ای حرفه ای با جزییات دقیق و به روز از سراسر ایران است که علاوه بر اطلاعات دقیق و کامل معابر، محدوده‌
      محلات شهرها، مناطق شهرداری و اسامی قدیمی خیابان‌ها را نیز داراست.همچنین سرویس مسیریاب گویامپ با در نظر گرفتن
      ترافیک آنلاین و کمترین زمان رسیدن به مقصد، بهترین مسیر را به شما پیشنهاد می‌دهد و شما را در سریع‌ترین زمان ممکن به
      مقصد می‌رساند.
    </p>
  </div>
</div>
