@import '../../../../../scss/utility/utility.scss';

.about-us {
  @extend %shadow;
  @extend %radius;
  width: 460px;
  height: 300px;
  display: flex;
  margin: auto;
  margin-top: 12%;
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
  img{
    width: 100%;
    position: absolute;
  }
  button{
    background-color:transparent;
    border: none;
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 5px;
    svg {
      height: 13px;
      width: 11px;
      fill: rgba($color: $color-dark, $alpha: 0.8);
    }

}
.txt{
  width: 75%;
text-align: justify;
font-size: .95em;
line-height: 1.5;
p{
  margin-right:13.3px;
  color: darken($color-gray-svg , 20);
}
}
}
