@import '../../../scss/utility/utility.scss';
@import '../../../scss/utility/dimen';
@import '../../../scss/reset.scss';

$LRDistance: 96%;
$bottomDistance: 8px;
$padding: 12px;
.container {
  position: relative;
  box-sizing: content-box;
  height: 100vh;

  // ---- Map Layer----
  .base-map {
    height: 100vh;
    width: 100%;
  }
  // ---- Map Layer ----

  // ---- Search Box ----
  .utiliy {
    position: absolute;
    top: 0px;
    padding: 10px 8px;
    max-width: 370px;
  }
  app-search-box {
    position: absolute;
    top: 23px;
    right: 40px;
    min-width: 275px;
  }

  // ---- Search Box ----

  // ---- Mouse Postion ----
  .mouse-position-box {
    position: absolute;
    bottom: 0;
    margin: 0;
    opacity: 0.9;
    // min-width: 113px;
    min-width: 170px;
  }
  // ---- Mouse Postion ----

  // ---- Scale Line ----
  .scale-line-box {
    position: absolute;
    bottom: 0;
    // margin: 0 113px;
    margin: 0 170px;
    opacity: 0.9;
  }
  // ---- Scale Line ----

  // ---- Go to User Location ----
  .user-location-box {
    padding: 12px $padding 6px;
    position: absolute;
    bottom: 79px;
    left: 0;
  }
  // ---- Go to User Location ----

  // ---- Zoom Control ----
  .zoom-controller-box {
    padding: 12px $padding 19px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  // ---- Zoom Control ----

  // ---- popup Attribute Layer ----
  .attribute-layer {
    position: absolute;
  }
}
// ---- popup Attribute Layer ----

// ---- context-menu ----
.context-menu {
  position: absolute;
}
// ---- context-menu ----

// ---- Send FeedBack ----
.report-error-box {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
}
.send-feedback-box {
  position: absolute;
  bottom: 0;
  margin: 0 245px;
  opacity: 0.9;
  background-color: rgba(lighten($color: $color-dark, $amount: 80), 0.9);
  padding: 1px 10px;
  height: 19px;
  box-sizing: border-box;
  width: 87px;
}
// ---- Send FeedBack ----

// --- Add Missing Place ----
.missing-place-box {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
}
// --- Add Missing Place ----

// ---- Mini map ----
.mini-map-box {
  // position: absolute;
  // bottom: 0;
  margin: 10px 0px;
  height: 75px;
  padding: 0 $padding;
}

.right-controller {
  position: absolute;
  bottom: 0;
  .some-control {
    width: auto;
    height: 19px;
  }
}
// ---- Mini map ----

// ---- login ----
.login {
  @extend %disableBox;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.login-btn-box {
  padding: 10px $padding;
  width: 66px;
  height: 30px;
  position: absolute;
  top: 0;
  min-width: 55px;
  left: 0;
  .login-btn {
    @extend %radius;
    @extend %shadow;
    @extend %transition;
    width: 100%;
    height: 33px;
    background: $color-light-blue;
    border: 1px solid rgba($color-gray-svg, 0.6);
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
      @extend %transition;
      background: $color-light;
    }
    svg {
      width: 28%;
    }
    span {
      color: inherit;
    }
  }
}
.login-btn-box-auth {
  width: 40px;
  height: 40px;
  border: none;
  margin: 10px 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 100%;
}
// ---- login ----

// ---- Navigation ----
.navigation {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 4;
}
// ---- Navigation ----
.about-us-box {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
  @extend %disableBox;
}
