<div class="container col-12 ">
  <div id="base-map" class="base-map"></div>
  <!-- user location -->
  <div class="user-location-box" id="user-location-box" (click)="this.yourPlace.closePlaces(); closeOtherElement()">
    <app-user-location></app-user-location>
  </div>
  <!-- user location -->
  <!-- ---user location alert popup -->
  <app-popup-location></app-popup-location>
  <!-- ---user location alert popup -->

  <div class="zoom-controller-box" id="zoom-controller-box">
    <app-zoom></app-zoom>
  </div>

  <!-- ---utiliy -->
  <div class="utiliy col-3-5" id="utiliy">
    <app-utility></app-utility>
  </div>
  <!-- ---utiliy -->

  <!-- ---navigation -->
  <app-navigation id="navigation1" class="navigation col-12"></app-navigation>
  <!-- ---navigation -->

  <div class="right-controller" id="right-controller">
    <!-- Mini map -->
    <div class="mini-map-box">
      <app-mini-map></app-mini-map>
    </div>
    <!-- Mini map -->
    <div class="some-control">
      <div id="mouse-position-box" class="mouse-position-box col-1">
        <app-mouse-position></app-mouse-position>
      </div>

      <div id="scale-line-box" class="scale-line-box">
        <app-scale-line></app-scale-line>
      </div>
      <div class="send-feedback-box" id="send-feedback-box">
        <app-send-feedback></app-send-feedback>
      </div>
    </div>
  </div>

  <!-- Send FeedBack -->
  <app-report-error id="report-error-box" class="report-error-box"
    [@openClose]="this.publicVar.isOpenReportError ? 'open' : 'close'"></app-report-error>
  <!-- Send FeedBack -->
  <!--context-menu -->
  <div class="context-menu" id="context-menu">
    <app-context-menu></app-context-menu>
  </div>
  <!--context-menu -->

  <!-- Add Missin Place -->
  <app-add-missing-place id="missing-place-box" class="missing-place-box"
    [@openClose]="this.publicVar.isOpenMissingPlace ? 'open' : 'close'"></app-add-missing-place>
  <!-- Add Missin Place -->

  <!-- login -->
  <div class="login-btn-box" id="login-btn-box" *ngIf="!this.publicVar.isauthenticate">
    <button class="login-btn" id="login-btn"
      (click)="openLogin(); toggleLogin(); closeOtherElement(); this.yourPlace.closePlaces()" appHoverButton
      [defualtColor]="'#fff'" [defualtTextColor]="'#fff'">
      <span>ورود</span>
      <svg viewBox="0 0 20 20">
        <path
          d="M4.7 7.4c0 3 2.4 5.4 5.4 5.4s5.4-2.4 5.4-5.4c0-3-2.4-5.4-5.4-5.4S4.7 4.4 4.7 7.4zM19.9 18.4c-.9-2.2-2.8-4.4-5.6-4.4-1.9 0-2.4 1.2-4.4 1.2-1.7 0-2.4-1.2-4.4-1.2-2.6 0-4.5 2-5.4 4.2-.6 1.4.9 1.8.9 1.8h18c.9-.2 1.1-.9.9-1.6z" />
      </svg>
    </button>
  </div>
  <button class="login-btn-box-auth" *ngIf="this.publicVar.isauthenticate">
    <svg viewBox="0 0 64.1 64.1">
      <circle cx="32.05" cy="32.05" r="32.05" fill="#fff" />
      <circle cx="32.05" cy="32.05" r="28.02" fill="#e0e9fd" />
      <circle cx="31.87" cy="26.93" r="10.8" fill="#588fff" />
      <path fill="#588fff"
        d="M32.05 60.07a27.86 27.86 0 0 0 18.18-6.69c-.27-7.27-8.33-13.11-18.26-13.11S14.11 46.01 13.71 53.2a27.89 27.89 0 0 0 18.34 6.87z" />
    </svg>
  </button>
  <div class="login" [@openClose]="this.publicVar.isOpenLogin ? 'open' : 'close'" id="login">
    <app-login></app-login>
  </div>
  <!-- login -->
  <!-- about us -->
  <div class="about-us-box" id="about-us-box" [@openClose]="this.publicVar.isOpenAboutUs ? 'open' : 'close'">
    <app-about-us></app-about-us>
  </div>
  <!-- about us -->
  <div class="attribute-layer " id="attribute-layer">
    <app-attribute-layer></app-attribute-layer>
  </div>
</div>

<!-- <button id="tset" style="position:absolute ; top:50% ; left:0" (click)="chengeLanguage()">
  test lan
</button> -->