<div class="report-error" id="report-error">
  <div class="error-box" id="error-box">
    <div class="title-box row">
      <h3>گزارش خطا</h3>
      <div id="close" class="close" (click)="closeReportError(); toggleErrorReport()">
        <svg
          appHoverButton
          x="0px"
          y="0px"
          width="512px"
          height="512px"
          viewBox="0 0 512 512"
          style="enable-background:new 0 0 512 512;"
        >
          <path
            d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"
          />
        </svg>
      </div>
    </div>
    <div class="container row">
      <div class="map-container" id="map-container">
        <div class="error" *ngIf="!this.publicVar.isErrorMapInIran">
          <svg height="20px" viewBox="0 0 32 32" width="20px">
            <path
              fill="#DD0101"
              fill-rule="evenodd"
              d="M14.4 6.1c.9-1.4 2.3-1.4 3.2 0l10.8 17.5c1.1 1.9.3 3.4-2 3.4H5.6c-2.2 0-3-1.5-1.9-3.4zM16 20c.6 0 1-.5 1-1v-6c0-.6-.4-1-1-1a1 1 0 0 0-1 1v6c0 .6.4 1 1 1zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 0"
            />
          </svg>
          <span>
            مکان مورد نظر خارج از محدوده ایران است.
          </span>
        </div>
        <div class="error-map" id="error-map"></div>
        <div class="icon" *ngIf="!this.publicVar.isErrorMapInIran">
          <img src="assets/img/error-location-error.svg" />
        </div>
        <div class="icon" *ngIf="this.publicVar.isErrorMapInIran">
          <img src="assets/img/error-location-true.svg" />
        </div>
        <div>
          <input type="text" class="coordinate" readonly id="coordinate-error-map" />
        </div>
      </div>
      <div class="form-container">
        <form #reportError="ngForm">
          <div class="error-type-box ">
            <label for="phone">آدرس</label>
            <input id="Geocode-report-error" ngModel name="Geocode-report-error" disabled />
            <label for="error-type">نوع اشکال در نقشه : *</label>
            <select
              id="error-type"
              class="error-type"
              name="errorType"
              required
              (click)="selectArrow()"
              [(ngModel)]="optSelect"
            >
              <option *ngFor="let error of errorTypes" [ngValue]="error.value">
                {{ error.type }}
              </option>
            </select>
            <svg id="select-svg-error-report" viewBox="0 0 960 560">
              <path
                d="M480 344L269 132a40 40 0 0 0-57 0 41 41 0 0 0 0 57l237 239c9 9 20 13 31 12 11 1 22-3 31-12l237-239c16-16 16-41 0-57s-41-16-57 0L480 344z"
              />
            </svg>
          </div>
          <label for="description">توضیح : *</label>
          <textarea type="text" id="description" class="description" ngModel name="description" required></textarea>
          <div class="submit-box">
            <div class="require_field">
              <span><sub style="font-size: 1.2em">*</sub> فیلدهای ضروری</span>
            </div>
            <button class="buttonBlue submit" type="submit" (click)="closeReportError(); toggleErrorReport()">
              انصراف
            </button>
            <button class="buttonBlue submit" type="submit" [disabled]="!reportError.valid" (click)="submit()">
              ارسال
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-popup-success id="app-popup-success"></app-popup-success>
