@font-face {
  font-family: "SegoeUI";
  src: url("assets/font/SegoeUI/SegoeUI.eot");
  src: url("assets/font/SegoeUI/SegoeUI.eot?#iefix")
      format("embedded-opentype"),
      url("assets/font/SegoeUI/SegoeUI.woff") format("woff"),
      url("assets/font/SegoeUI/SegoeUI.ttf") format("truetype"),
      url("assets/font/SegoeUI/SegoeUI.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sahel";
  src: url("assets/font/Sahel/Sahel.eot");
  src: url("assets/font/Sahel/Sahel.eot?#iefix") format("embedded-opentype"),
  url("assets/font/Sahel/Sahel.woff") format("woff"),
  url("assets/font/Sahel/Sahel.ttf") format("truetype"),
  url("assets/font/Sahel/Sahel.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

