@import "../../../../scss/utility/utility.scss";
.search-box {
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
  position: absolute;
  max-width: 265px;
  // min-width: 296px;
  .search-txt {
    width: 272px;
    height: 24px;
    border: none;
    font-size: 1.1em;
    box-sizing: border-box;
    &:focus {
      outline: 0;
    }
    &::placeholder {
      color: $color-search-text;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color-search-text;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $color-search-text;
    }
  }
  .search-icon {
    button {
      border: none;
      background-color: transparent;
      margin-top: 4px;
      opacity: 0.42;
      cursor: pointer;
    }
  }
}

.search_result {
  @extend %Shadow-more;
  display: none;
  background-color: $color_light;
  min-width: 380px;
  height: 100vh;
  right: 0px;
  position: absolute;
  top: -23px;
  right: -40px;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -ms-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  .base{
    height: 70px;
    width: 100%;
    background-color: $color-light-blue;

    .search-closer {
      cursor: pointer;
      svg {
        height: 15px;
        width: 15px;
        fill: $color-dark;
        margin-right: 333px;
        margin-top: 27px;
        z-index: 1;
        position: absolute;
      }
    }
  }

.tab{
  display: flex;
  height: 35px;
  background-color:$color-light-blue;
  color: $color-light;
  //margin-top: 90px;
  align-items: center;
  justify-content: space-between;
  #streetTabRadio,#pointTabRadio{
    display: none;
    & + label{
      // background-color: white;
      background-color:$color-light-blue;
      color: $color-light;
      cursor: pointer;
    }
    &:checked + label {
      background-color:$color-light;
      color:$color-light-blue;
    }

  }

  .streetTab , .pointTab {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.all-result{
  height: 83%;
  overflow: scroll;
  overflow-x: hidden;
  // scrooolll
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-light;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: lighten($color: $color-gray-svg, $amount: 30);
    border-radius: 1px 0 0 1px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  // scrooolll

  .result{
    padding: 4px 20px;
    border-bottom: 1px solid rgba($color-gray-svg, 0.2);
    cursor: pointer;
    &:hover{
      background:rgba(211, 228, 239, 0.27);
    }
    li{
      list-style: none;
      display: flex;
      justify-content: space-between;
      :last-child{
        opacity: 0.6;
        font-size: 0.9em;
        padding-top: 5px;
      }
    }
  }
}

}
