<div id="search-box" class="search-box">
  <input
    class="search-txt"
    placeholder="جستجوی Gooya Map"
    (click)="openMore()"
    #sreachTxt
    (keyup.enter)="Search(sreachTxt) ;this.searchResult.openSearchResult()"
  />

  <div class="search-icon">
    <button appTooltips="جستجو" placement="bottom" delay="300" (click)="Search(sreachTxt);this.searchResult.openSearchResult()">
      <svg
        height="12pt"
        viewBox="0 0 448 448"
        width="15pt"
        x="0px"
        y="0px"
        viewBox="0 0 1000 1000"
        enable-background="new 0 0 1000 1000"
      >
        <g>
          <path
            d="M890.5,109.6c-132.7-132.9-347.8-132.9-480.6,0C286.3,233.4,278,428.7,384.6,562.3L10,937.5l52.5,52.6l374.4-374.9c133.5,108,329.5,99.9,453.5-24.3C1023.2,458,1023.2,242.5,890.5,109.6z M842.9,543.2c-106.5,106.6-279.1,106.6-385.6,0c-106.5-106.6-106.5-279.5,0-386.1c106.5-106.6,279.1-106.6,385.6,0S949.4,436.6,842.9,543.2z"
          />
        </g>
      </svg>
    </button>
  </div>
</div>

