<div class="menu" id="menu" >
  <ul class="menu-options">
    <li class="menu-option" (click)="DirectionFromToHere('start-point')">مسیر از اینجا !</li>
    <li class="menu-option" (click)="DirectionFromToHere('end-point')">مسیر به اینجا !</li>
    <li
      class="menu-option"
      (click)="
        addMissingPlace();
        addMissingMap();
        toggleMissingPlace();
        closeOtherElement()"
      *ngIf="!this.publicVar.isOpenDirection"
    >
      افزودن مکان ثبت نشده
    </li>
    <li
      class="menu-option"
      (click)="
        showReportError();
        addErrorMap();
        toggleErrorReport();
        closeOtherElement()
      "
      *ngIf="!this.publicVar.isOpenDirection"
    >
      گزارش خطا
    </li>
    <li
      class="menu-option"
      (click)="showFavoritesPlace()"
      *ngIf="!this.publicVar.isOpenDirection"
    >
      مکان مورد علاقه
    </li>
    <li class="menu-option" *ngIf="!this.publicVar.isOpenDirection">
      اندازه گیری فاصله
    </li>
  </ul>
</div>
