@import "../../../scss/utility/utility.scss";

.container {
  @extend %shadow;
  border-radius: 4px;
  background: $color-light;
  display: flex;
  width: 480px;
  height: 300px;
}

app-login-page,
app-signin {
  width: 100%;
}
app-signin {
  display: none;
}
