@import "../../../../scss/utility/utility.scss";
@import "../../../../scss/utility/tools";

.dirct-icon {
  display: flex;
  .button {
    width: 37px;
    height: 45px;
    margin-right: -8px;
    fill: $color-light-blue;
    background-color: transparent;
    border: none;
    opacity: 0.8;
    font-size: 0.8em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }
  .rout {
    display: none;
    @extend %transition;
    @extend %shadow;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    width: 380px;
    background-color: $color-light;
    height: 100vh;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 1;
    // margin-top: -30px;
    .section-directon {
      background: $color-light-blue;
      height: 180px;

      .icondir {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 20px 20px;
        align-items: center;
        .menu {
          cursor: pointer;
          svg {
            height: 35px;
            width: 35px;
          }
        }
        .dir-closer {
          cursor: pointer;
          svg {
            height: 15px;
            width: 15px;
            fill: $color-light;
          }
        }
      }
      .dir-base {
        display: flex;
        justify-content: center;
        margin-top: -10px;
        margin-right: 11px;
        & div:first-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .more {
          margin-bottom: 6px;
          margin-top: 6px;
        }
        .point {
          margin-bottom: 3px;
        }
        .change {
          padding-top: 30px;
          margin-right: 4px;
          fill: #97bcf9;
          &:hover {
            cursor: pointer;
            fill: $color-light;
          }
        }
        .directions-searchbox {
          background: transparent;
          border: none;
          margin-top: -8px;
          padding-left: 21px;
          margin-right: 20px;
          .input-srart {
            width: 230px;
            background: transparent;
            border: none;
            color: $color-light;
            // direction: ltr;
            // text-align: end;
            &::placeholder {
              color: $color-direction-text;
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: $color-direction-text;
            }

            &::-ms-input-placeholder {
              /* Microsoft Edge */
              color: $color-direction-text;
            }
          }
          .searchIcon {
            fill: $color-direction-text;
            opacity: 0;
            visibility: visible;
            &:hover {
              cursor: pointer;
              fill: $color-light;
            }
          }
        }
        .input-underline {
          // z-index: 2;
          display: block;
          bottom: -1px;
          height: 5px;
          border-bottom: 1px solid #97bcf9;
          padding-left: 70px;
          width: 180px;
        }
      }
      .go {
        margin-right: 252px;
        margin-top: 18px;
        padding: 3px;
        box-sizing: border-box;
        font-size: 0.85em;
        width: 60px;
        height: 27px;
        background: transparent;
        border: none;
        border-radius: 3px;
        color: $color-light;
        border: 1px solid #97bcf9;
        &:hover {
          @extend %transition;
          background: $color-light;
          color: $color-blue-hover;
          border: $color-blue-hover;
        }
      }
    }

    .result {
      width: 100%;
      height: auto;
      .error {
        display: flex;
        align-items: flex-end;
        margin: 10px;
        color: $color-red-required;
        font-size: 0.95em;
        svg {
          width: 5.2%;
          padding: 0 10px;
        }
      }
    }
  }
}
