@import '../../../scss/utility/utility.scss';

.utility{
  @extend %radius;
  @extend %shadow;
  height: 48px;
  background-color:$color-light;
  border: 1px solid $color-light-gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  min-width: 320px;
  hr{
    border: none;
    width: 1px;
    height: 25px;
    background-color: rgba(55, 58, 60, 0.3);
    margin: 0
}
}

