@import "../../../../../scss/utility/utility.scss";

.street {
  display: none;
  @extend %transition;
  @extend %shadow;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  width: 380px;
  background-color: $color-light;
  height: 100vh;
  transition: 0.5s;
  overflow-x: hidden;
  z-index: 1;
  // margin-top: -30px;
  .section-street {
    background: $color-light-blue;
    height: 140px;

    .iconStreet {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px 20px 20px;
      align-items: center;
      .menu {
        cursor: pointer;
        // transition: all 0.3s ease;
        svg {
          height: 35px;
          width: 35px;
        }
      }
      .street-closer {
        cursor: pointer;
        svg {
          height: 15px;
          width: 15px;
          fill: $color-light;
        }
      }
    }
    .street-base {
      display: flex;
      justify-content: center;
      margin-top: -5px;
      margin-right: 11px;
      color: #ffffff;
      & div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: -5px;
        margin-left: -3px;
      }
      .more {
        margin-bottom: 6px;
        margin-top: 6px;
        fill: $color-direction-text;
      }
      .point {
        margin-bottom: 3px;
      }
      .street-searchbox {
        background: transparent;
        border: none;
        margin-top: -8px;
        padding-left: 45px;
        margin-right: 20px;
        .input-srart {
          width: 230px;
          background: transparent;
          border: none;
          color: $color-light;
          // direction: ltr;
          // text-align: end;
          &::placeholder {
            color: $color-direction-text;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $color-direction-text;
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $color-direction-text;
          }
        }
      }
      .input-underline {
        // z-index: 2;
        display: block;
        bottom: -1px;
        height: 5px;
        border-bottom: 1px solid #97bcf9;
        padding-left: 70px;
        width: 180px;
      }
    }
    .go {
      margin-right: 255px;
      margin-top: 20px;
      padding: 3px;
      box-sizing: border-box;
      font-size: 0.85em;
      width: 60px;
      height: 27px;
      background: transparent;
      border: none;
      border-radius: 3px;
      color: $color-light;
      border: 1px solid #97bcf9;
      cursor: pointer;
      &:hover{
        @extend %transition;
        background: $color-light;
        color: $color-blue-hover;
        border: $color-blue-hover;
      }
    }
  }
}
