<div id="popup" class="ol-popup col-12">
  <div class="attribute-container">
    <div>
      <P id="feature-name" class="feature-name"></P>
      <P id="feature-property" class="feature-property"></P>
      <div id="popup-content"></div>
    </div>
    <div id="popup-closer" class="ol-popup-closer" (click)="closePopup()">
      <svg appHoverButton height="512px" viewBox="0 0 512 512" width="512px">
        <path
          d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"
        ></path>
      </svg>
    </div>
  </div>

  <div id="arrow-bottom">
    <div class="arrowS-bottom"></div>
    <div class="circle1">
      <div class="circle2"></div>
    </div>
  </div>
  <div id="arrow-top">
    <div class="arrowS-top"></div>
    <div class="circle1">
      <div class="circle2"></div>
    </div>
  </div>
  <div id="arrow-right">
    <div class="arrowS-right"></div>
    <div class="circle1">
      <div class="circle2"></div>
    </div>
  </div>
  <div id="arrow-left">
    <div class="arrowS-left"></div>
    <div class="circle1">
      <div class="circle2"></div>
    </div>
  </div>
</div>
