<div id="more" class="more-search row">
  <div class="link-more" id="link-more" (click)="searchNone()">
    <button>
      <svg width="451.847" height="451.847" viewBox="0 0 451.847 451.847">
        <path
          d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z"
        />
      </svg>
    </button>
    <div class="more-txt">جستجوی پیشرفته</div>
  </div>
  <div id="ul-more" class="ul-more">
    <ul class="items">
      <li class="street" (click)="openStreet(); closeNavmore()">
        <img width="30px" height="30px" src="assets/img/street.svg" />
        <span>خیابان</span>
      </li>
      <li class="crossing" (click)="openIntersction(); closeNavmore()">
        <img width="30px" height="30px" src="assets/img/intersection.svg" />
        <span>تقاطع</span>
      </li>
      <li class="poi" (click)="openPoi(); closeNavmore()">
        <img width="30px" height="30px" src="assets/img/poi.svg" />
        <span>نقاط مهم</span>
      </li>
      <li class="xy" (click)="opencoordinate(); closeNavmore()">
        <img width="30px" height="30px" src="assets/img/XY.svg" />
        <span>مختصات</span>
      </li>
    </ul>
  </div>
  <div class="link-close" id="link-close" (click)="closeNavmore()">
    <button>
      <svg viewBox="0 0 1000 1000">
        <path
          d="M34.2 761.1c32.2 32 84.3 32 116.6 0l350.4-348.7 348.7 348.7c32.1 32 84 32 116.1 0 32.1-32 32.1-84 0-116.1L559.7 238.7c-16.2-16.1-37.4-24-58.6-23.9-21.3-.2-42.7 7.8-58.9 23.9L34.2 645c-32.3 32.1-32.3 84.1 0 116.1"
        />
      </svg>
    </button>
    <div class="more-txt">پنهان کردن</div>
  </div>
</div>
<app-street></app-street>
<app-intersection></app-intersection>
<app-poi></app-poi>
<app-coordinate></app-coordinate>
