<div class="place-item-home-addbox" id="place-item-home-addbox">
  <input
    id="place-item-home-addbox-input"
    appTooltips="آدرس را وارد یا از طریق مکان نما مشخص کنید."
    placement="top"
    delay="500"
    fontSize="0.85"
  />
  <button (click)="addNewHome()">افزودن</button>
</div>
<div class="place-item-home-showExistLocation" id="place-item-home-showExistLocation">
  <span>{{ homeAddres }}</span>
  <div class="exist-home-button">
    <button
      class="direction-home"
      appTooltips="مسیریابی"
      placement="top"
      fontSize="0.85"
      delay="500"
      (click)="opendirectionHome()"
    >
      <div>
        <svg id="direction-home-svg" x="0px" y="0px" viewBox="0 0 287.6 300">
          <path
            d="M281.9,174.4l-101.2-56.3c-7.5-3.8-13.1,0-13.1,7.5v30c-30,0-52.5,11.3-75,28.1v-71.3h28.1c7.5,0,9.4-5.6,5.6-11.3L70.1,5.6
      c-3.8-7.5-9.4-7.5-13.1,0L0.7,101.3c-1.9,5.6,0,11.3,7.5,11.3h28.1V300h56.3v-1.9c0-46.9,30-84.4,76.9-86.3v26.3
      c-1.9,5.6,3.7,9.4,11.2,5.6l101.3-54.4C289.4,183.8,289.4,178.1,281.9,174.4z"
          />
        </svg>
      </div>
    </button>
    <button class="edit-home" appTooltips="ویرایش" placement="top" fontSize="0.85" delay="500" (click)="openHomeEdit()">
      <div>
        <svg x="0px" y="0px" viewBox="0 0 528.899 528.899">
          <g>
            <path
              d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981
                    c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611
                    C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069
                    L27.473,390.597L0.3,512.69z"
            />
          </g>
        </svg>
      </div>
    </button>
    <button class="remove-home" appTooltips="حذف" placement="top" fontSize="0.85" delay="500" (click)="deleteHome()">
      <div class="remove-home-closer">
        <svg x="0px" y="0px" viewBox="0 0 512 512">
          <path
            d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"
          />
        </svg>
      </div>
    </button>
  </div>
</div>
<div class="place-item-home-showExistLocation-editHomeBox" id="place-item-home-showExistLocation-editHomeBox">
  <input
    id="place-item-home-showExistLocation-editHomeBox-input"
    appTooltips="آدرس را ویرایش یا از طریق مکان نما تغییر دهید."
    placement="top"
    delay="500"
    fontSize="0.85"
  />
  <div class="editHomeBox-btn">
    <button (click)="saveEditHome()">ویرایش</button>
    <button (click)="cancelEditHome()">انصراف</button>
  </div>
</div>
<div class="place-item-home-showExistLocation-deleteHome" id="place-item-home-showExistLocation-deleteHome">
  <span>آیا از حذف اطمینان دارید ؟</span>
  <div>
    <button (click)="YesDeleteHome()">بله</button>
    <button (click)="NoDeleteHome()">خیر</button>
  </div>
</div>
